@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --greyish-blue: hsl(229, 6%, 66%);
  --very-light-grey: hsl(0, 0%, 98%);

  font-family: "Poppins", sans-serif;
  color: var(--greyish-blue);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 3em 0;
}

@media (min-width: 1200px) {
  body {
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
}

/* header */

header {
  width: 90%;
  max-width: 310px;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--very-dark-blue);
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--very-dark-blue);
}

.paragraph-large {
  font-size: 0.94rem;
  margin-bottom: 3rem;
}

@media (min-width: 1200px) {
  header {
    max-width: 480px;
  }

  h1,
  h2 {
    font-size: 2.25rem;
  }
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 310px;
  max-height: 200px;
  text-align: left;

  margin: 0.6rem 0;
  padding: 1.65rem;

  border-top: 5px solid;
  border-radius: 3px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.img-icon {
  text-align: right;
  position: relative;
}

.container img {
  max-width: 21%;
}

h3 {
  font-size: 1.1rem;
  color: var(--very-dark-blue);
  margin-bottom: 0.5rem;
}

.paragraph-regular {
  width: 87%;
  font-size: 0.7rem;
  margin-bottom: 2.3rem;
}

.container-supervisor {
  border-color: var(--cyan);
}

.container-team-builder {
  border-color: var(--red);
}

.container-karma {
  border-color: var(--orange);
}

.container-calculator {
  border-color: var(--blue);
}

@media (min-width: 1200px) {
  main {
    flex-direction: row;
  }

  .section-column {
    width: 360px;
  }

  .container {
    max-height: 220px;
  }
}
