@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --greyish-blue: hsl(229, 6%, 66%);
  --very-light-grey: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-content: center;

  font-family: 'Poppins', sans-serif;
  color: var(--greyish-blue);
  background: var(--very-light-grey);
}

header {
  width: 90%;
  max-width: 320px;
  margin: 5rem auto 0 auto;
  text-align: center;
}

main {
  max-width: 320px;
  margin: 5rem auto;
}

.img-icon {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 800px) {
  header {
    max-width: 480px;
  }

  main {
    display: flex;
    align-items: center;
    max-width: 1000px;
  }

  .section-column {
    width: 360px;
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
  }
}

/* STYLE */

.paragraph-intro {
  font-size: 1.4rem;
  font-weight: 200;
  color: var(--very-dark-blue);
}

h1 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--very-dark-blue);
}

.paragraph-summary {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 1rem;
}

.container {
  width: 90%;
  padding: 1.5em 2em;
  margin: 0 auto 1.5rem auto;
  border-radius: 10px;
  border-top: 5px solid;
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.2);

  background-color: white;
}

.supervisor {
  border-color: var(--cyan);
}

.team-builder {
  border-color: var(--red);
}

.karma {
  border-color: var(--orange);
}

.calculator {
  border-color: var(--blue);
}

h2 {
  color: var(--very-dark-blue);
  font-size: 1.25rem;
}

.paragraph-container-content {
  font-size: 0.8rem;
  margin: 0.5rem 0 2rem 0;
}

.img-icon img {
  width: 25%;
}

@media (min-width: 1200px) {
  .paragraph-intro {
    font-size: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    width: 33%;
    height: 220px;
  }

  .team-builder,
  .karma {
    width: 100%;
  }

  .img-icon img {
    width: 20%;
  }
}
